In [54]:
import pandas as pd
import numpy as np
#import missingno as msn
import seaborn as sns

In [55]:
df = pd.read_csv('data/train.csv')
df_variableDefinitions = pd.read_csv('data/variabledefinitions.csv')

## Preprocessing

In [56]:
# Replace missing values in travel_with where people travelled alone
df.loc[(df.travel_with.isna()) & (df[['total_male', 'total_female']].sum(axis=1) == 1), 'travel_with'] = 'Alone'

# Drop missing values in travel_with where we can't impute the missing values
df_new = df.dropna(subset=['travel_with'])
df_new.shape
# df[(df.travel_with.isna()) & (df[['total_male', 'total_female']].sum(axis=1) == 1)]

(4780, 23)

In [57]:
# Drop observations in total_male and total_female that dont contain information
indices_drop = df_new[(df_new['total_female'] == 0) & (df_new['total_male'] == 0)].index
df_new = df_new.drop(indices_drop, axis=0)

In [58]:
# Replace missing values in most_impressing with 'No comments'
df_new['most_impressing'] = df_new['most_impressing'].fillna('No comments')

In [59]:
# Replace missing values in most_impressing with 'No comments'
df_new['most_impressing'].replace(' Wildlife', 'Wildlife', inplace=True)
#print(df_new['most_impressing'].value_counts())

most_impressing
Friendly People                         1529
No comments                             1046
Wildlife                                1029
Wonderful Country, Landscape, Nature     505
Good service                             361
Excellent Experience                     265
Satisfies and Hope Come Back              31
Name: count, dtype: int64

In [60]:
# Drop remaining Nan's in total_female and total_male
df_new = df_new.dropna()

## Dummy encoding!