# Exploring the Tanzania Dataset

In [1]:
import pandas as pd
import numpy as np
import missingno as msn

In [7]:
df = pd.read_csv('data/train.csv')
df2 = pd.read_csv('data/test.csv')
df3 = pd.read_csv('data/samplesubmission.csv')
df4 = pd.read_csv('data/variabledefinitions.csv')

In [15]:
df['total_cost'].head()

0     674602.5
1    3214906.5
2    3315000.0
3    7790250.0
4    1657500.0
Name: total_cost, dtype: float64

In [13]:
print(df2.columns.difference(df.columns))

Index([], dtype='object')

In [8]:
df.describe()

       total_female   total_male  night_mainland  night_zanzibar    total_cost
count   4806.000000  4804.000000     4809.000000     4809.000000  4.809000e+03
mean       0.926758     1.009575        8.488043        2.304429  8.114389e+06
std        1.288242     1.138865       10.427624        4.227080  1.222490e+07
min        0.000000     0.000000        0.000000        0.000000  4.900000e+04
25%        0.000000     1.000000        3.000000        0.000000  8.121750e+05
50%        1.000000     1.000000        6.000000        0.000000  3.397875e+06
75%        1.000000     1.000000       11.000000        4.000000  9.945000e+06
max       49.000000    44.000000      145.000000       61.000000  9.953288e+07