# Exploring the Tanzania Dataset

In [2]:
pip install missingno

Collecting missingno
  Using cached missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Requirement already satisfied: numpy in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from missingno) (1.26.4)
Collecting matplotlib (from missingno)
  Downloading matplotlib-3.8.4-cp311-cp311-macosx_11_0_arm64.whl.metadata (5.8 kB)
Collecting scipy (from missingno)
  Using cached scipy-1.13.0-cp311-cp311-macosx_12_0_arm64.whl.metadata (60 kB)
Collecting seaborn (from missingno)
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib->missingno)
  Using cached contourpy-1.2.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib->missingno)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib->missingno)
  Using cached fonttools-4.51.0-cp311-cp311-macosx_10_9_universal2.whl.metadata (159 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib->missingno)
  Using cached kiwisolver-1.4.5-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from matplotlib->missingno) (24.0)
Collecting pillow>=8 (from matplotlib->missingno)
  Using cached pillow-10.3.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib->missingno)
  Using cached pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from seaborn->missingno) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/rishabhhasija/.pyenv/versions/3.11.3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Using cached missingno-0.5.2-py3-none-any.whl (8.7 kB)
Downloading matplotlib-3.8.4-cp311-cp311-macosx_11_0_arm64.whl (7.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 10.9 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Using cached scipy-1.13.0-cp311-cp311-macosx_12_0_arm64.whl (30.3 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached contourpy-1.2.1-cp311-cp311-macosx_11_0_arm64.whl (245 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.51.0-cp311-cp311-macosx_10_9_universal2.whl (2.8 MB)
Using cached kiwisolver-1.4.5-cp311-cp311-macosx_11_0_arm64.whl (66 kB)
Using cached pillow-10.3.0-cp311-cp311-macosx_11_0_arm64.whl (3.4 MB)
Using cached pyparsing-3.1.2-py3-none-any.whl (103 kB)
Installing collected packages: scipy, pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn, missingno
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 kiwisolver-1.4.5 matplotlib-3.8.4 missingno-0.5.2 pillow-10.3.0 pyparsing-3.1.2 scipy-1.13.0 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import missingno as msn

In [4]:
df = pd.read_csv('data/train.csv')
df2 = pd.read_csv('data/test.csv')
df3 = pd.read_csv('data/samplesubmission.csv')
df4 = pd.read_csv('data/variabledefinitions.csv')

In [15]:
df.head(20)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0
5,tour_1005,UNITED KINGDOM,25-44,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,Yes,No,9.0,3.0,Cash,Yes,Wildlife,120950.0
6,tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,9.0,0.0,Cash,Yes,Friendly People,466140.0
7,tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,10.0,3.0,Cash,Yes,Friendly People,3480750.0
8,tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,4.0,0.0,Cash,Yes,NaN,994500.0
9,tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,5.0,0.0,Credit Card,Yes,Friendly People,2486250.0
10,tour_1012,BRAZIL,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,No,17.0,3.0,Cash,Yes,"Wonderful Country, Landscape, Nature",1117155.0
11,tour_1013,CANADA,45-64,Children,2.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,30.0,0.0,Cash,No,Excellent Experience,8121750.0
12,tour_1016,CANADA,45-64,Children,0.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,11.0,3.0,Cash,Yes,No comments,331500.0
13,tour_1017,MALT,25-44,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,No,No,No,10.0,0.0,Cash,Yes,No comments,11346650.0
14,tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,2.0,0.0,Cash,Yes,Wildlife,497250.0
15,tour_102,RWANDA,65+,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,0.0,2.0,Cash,Yes,"Wonderful Country, Landscape, Nature",331500.0
16,tour_1021,AUSTRIA,45-64,Friends/Relatives,4.0,1.0,Visiting Friends and Relatives,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,24.0,0.0,Cash,No,Friendly People,2000000.0
17,tour_1022,MYANMAR,25-44,NaN,1.0,0.0,Meetings and Conference,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,No,5.0,0.0,Cash,Yes,Friendly People,331500.0
18,tour_1024,GERMANY,25-44,Children,1.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,3.0,0.0,Cash,Yes,Friendly People,2269330.0
19,tour_1026,KENYA,25-44,NaN,1.0,0.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,4.0,0.0,Cash,No,Friendly People,377520.0

In [12]:
df4

              Column Name                                         Definition
0                      id                 Unique identifier for each tourist
1                 country                The country a tourist coming  from.
2               age_group                        The age group of a tourist.
3             travel_with  The relation of people a tourist travel with t...
4            total_female                            Total number of females
5              total_male                              Total number of males
6                 purpose                  The purpose of visiting  Tanzania
7           main_activity           The main activity of tourism in Tanzania
8            infor_source  The source of information about tourism in Tan...
9         tour_arrangment                The arrangment of visiting Tanzania
10  package_transport_int  If the tour package include international tran...
11   package_accomodation  If the tour package include accommodation service
12           package_food           If the tour package include food service
13   package_transport_tz  If the tour package include transport service ...
14    package_sightseeing    If the tour package include sightseeing service
15    package_guided_tour             If the tour package include tour guide
16      package_insurance      if the tour package include insurance service
17         night_mainland  Number of nights a tourist spent in Tanzania m...
18         night_zanzibar       Number of nights a tourist spent in Zanzibar
19           payment_mode            The mode of payment for tourism service
20          first_trip_tz                If it was a first  trip to Tanzania
21        most_impressing               what impressed a toursit in Tanzania
22             total_cost    The total tourist expenditure  in TZS(currency)

In [16]:
df.travel_with.unique()

array(['Friends/Relatives', nan, 'Alone', 'Spouse', 'Children',
       'Spouse and Children'], dtype=object)

In [17]:
df.query('total_female == 49')

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
2983,tour_4627,KENYA,25-44,Children,49.0,44.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,No,4.0,0.0,Cash,Yes,Excellent Experience,26332020.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [6]:
print(df2.columns.difference(df.columns))

Index([], dtype='object')

In [7]:
df.describe()

       total_female   total_male  night_mainland  night_zanzibar    total_cost
count   4806.000000  4804.000000     4809.000000     4809.000000  4.809000e+03
mean       0.926758     1.009575        8.488043        2.304429  8.114389e+06
std        1.288242     1.138865       10.427624        4.227080  1.222490e+07
min        0.000000     0.000000        0.000000        0.000000  4.900000e+04
25%        0.000000     1.000000        3.000000        0.000000  8.121750e+05
50%        1.000000     1.000000        6.000000        0.000000  3.397875e+06
75%        1.000000     1.000000       11.000000        4.000000  9.945000e+06
max       49.000000    44.000000      145.000000       61.000000  9.953288e+07